<%- include('../parts/head', {bot, user, path}) %>
<head>
</head>
<title>Credits - Usure.one</title>
<style>
strong {
color: var(--body-text)!important;
}
</style>
        <h1>Dibots.xyz</h1>
        </div>
    </div>
</div>

<%- include('../parts/foot') %>
